.aside .logo a::before {
    border-top: 4px solid #2196F3;
    border-left: 4px solid #2196F3;
}

.aside .logo a::after {
    border-bottom: 4px solid #2196F3;
    border-right: 4px solid #2196F3;
}

.about .about-content .skills .skill-item p,
.contact .contact-info-item .icon .fa,
.project .project-item-inner .project-info .project-tags a,
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.certificate .certificate-item .certificate-info .icon .fa,
body.dark .certificate .certificate-filter button.active,
.certificate .certificate-filter button.active,
.aside .nav li a:hover,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.about .about-content .about-text h3 span,
.aside .nav li a.active {
    color: #2196F3;
}

.project .project-item-inner .project-img .project-date,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.btn,
.aside .nav-toggler span,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-link a {
    background-color: #2196F3;
}

body.dark .certificate .certificate-filter button.active,
.certificate .certificate-filter button.active {
    border-color: #2196F3;
}